<table style="width:100%; border-bottom: 1px solid #eee">
    <tbody>
        <tr>
            <td valign="top">
                <a role='button'>
                    <center><span class="glyphicon glyphicon-triangle-top" style="font-size:1.5em;" ng-click="incrementPostUpvotes(post)"></span></center>
                </a>    
                <center>
                    <span style="font-size:1.5em;">{{post.upvotes}}</span>
                </center> 
                <a role='button'>
                    <center><span class="glyphicon glyphicon-triangle-bottom" style="font-size:1.5em;" ng-click="decrementPostUpvotes(post)"></span></center>
                </a>  
            </td>
            <td style='padding-left: 15px;'>
                <a href="#/posts/{{post.id}}">
                    <span style="font-size:1.5em;"> {{post.title}} </span>
                </a>
                <br>
                <span style="font-size:0.9em;">
                    <a href="#/posts/{{post.id}}">
                        Comments ({{ post.comments.length }})
                    </a>;
                    posted by <em>{{ post.user.username }}</em>
                    {{post.created_at | date : "'at' h:mma MM/dd/yyyy"}}
                </span>     
                <br> 
                <div class="well well-sm" ng-bind-html="post.body | nl2br"></div>    
                            
            </td>
        </tr>
    <tbody>
</table> 
<h4 style='color:#337ab7'><center>Comments</center></h4>
<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <div class='well well-sm'>
        <span style="margin-left:10px;">
            <a ng-show='user.admin' role='button'>
                    <span  class="glyphicon glyphicon-remove" ng-click="destroyComment(comment)"></span>
                </a>
            {{comment.upvotes}}
            <a role='button'>
                <span class="glyphicon glyphicon-triangle-top" ng-click="incrementUpvotes(comment)"></span>
            </a>   
            <a role='button'>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="decrementUpvotes(comment)"></span>
            </a> 
            <span style="font-size:0.9em;">
                by <em>{{comment.user.username}}</em>
                {{post.created_at | date : "'at' h:mma MM/dd/yyyy"}}
            </span> 
            <div style="margin-left:15px;" ng-bind-html="comment.body | nl2br"></div>
        </span>
    </div> 
</div>
<form ng-show="signedIn()" ng-submit="addComment()" style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
        <textarea rows = '3' class="form-control" placeholder="Comment" ng-model="body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<center><h3 ng-hide="signedIn()">You have to Login to create new comment!</h3></center>