<div class="page-header">
    <h1>Flapper News</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <a href="#/posts/{{post.id}}">
        {{post.title}}
      </a>

      posted by <a ng-href="#/users/{{ post.user.username }}"> {{ post.user.username }} </a>

      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}

      <a href="#/posts/{{post.id}}">Comments</a>
    </div>
    <div class="panel-body">
      
      <span ng-hide="post.link">
        {{post.body}}
      </span>
    </div>
  </div>
</div>  

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
  	<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
  	{{comment.upvotes}} - by {{comment.user.username}}
  	<span style="font-size:20px; margin-left:10px;">
    	{{comment.body}}
  	</span>
</div>
<form ng-submit="addComment()" style="margin-top:30px;">
  	<h3>Add a new comment</h3>

  	<div class="form-group">
    	<input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
  	</div>
  	<button type="submit" class="btn btn-primary">Post</button>
</form>