<div class="page-header">
    <h1>Flapper News</h1>
</div>
<table style="width:100%;">
    <tbody>
        <tr ng-repeat="post in posts | orderBy:'-upvotes'">
            <td valign="top">
                <center>
                    <span  class="glyphicon glyphicon-triangle-top" style="font-size:1.5em;" ng-click="incrementUpvotes(post)"></span><br>
                    <span style="font-size:1.5em;">{{post.upvotes}}</span>
                </center>  
            </td>
            <td style='padding-left: 15px;'>
                <a href="#/posts/{{post.id}}">
                    <span style="font-size:1.5em;"> {{post.title}} </span>
                </a>
                <br>
                <span style="font-size:0.8em;">
                    <a href="#/posts/{{post.id}}">
                        Comments ({{ post.comments.length }})
                    </a>;
                    posted by 
                    <a ng-href="#/users/{{ post.user.username }}"> 
                        {{ post.user.username }} 
                    </a>
                </span>     
                <br> 
                <div class="well well-sm">   
                    {{post.body}}
                </div>    
                    
            </td>
        </tr>
    <tbody>
</table>
<form ng-submit="addPost()" style="margin-top:30px;">
    <h3>Add a new post</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
    </div>
    <div class="form-group">
        <textarea rows = '3' class="form-control" placeholder="Post" ng-model="body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>