<div class="page-header">
    <h1 style='color:#337ab7'><center>Flapper News</center></h1>
</div>
<table style="width:100%;">
    <tbody>
        <tr ng-repeat="post in posts | orderBy:'-upvotes'">
            <td valign="top">
                <a role='button'>
                    <center><span  class="glyphicon glyphicon-triangle-top" style="font-size:1.5em;" ng-click="incrementUpvotes(post)"></span></center>
                </a>
                <center>    
                    <span style="font-size:1.5em;">{{post.upvotes}}</span>
                </center> 
                <a role='button'>
                    <center><span  class="glyphicon glyphicon-triangle-bottom" style="font-size:1.5em;" ng-click="decrementUpvotes(post)"></span></center>
                </a>
            </td>
            <td style='padding-left: 15px;'>
                <a ng-show='user.admin' role='button'>
                    <span  class="glyphicon glyphicon-remove" ng-click="destroyPost(post)"></span>
                </a>
                <a href="#/posts/{{post.id}}">
                    <span style="font-size:1.5em;"> {{post.title}} </span>
                </a>
                <br>
                <span style="font-size:0.9em;">
                    <a href="#/posts/{{post.id}}">
                        Comments ({{ post.comments.length }})
                    </a>
                    posted by <em>{{ post.user.username }}</em>
                    {{post.created_at | date : "'at' h:mma MM/dd/yyyy"}}
                </span>     
                <br> 
                <div class="well well-sm">   
                    {{post.body}}
                </div>    
                    
            </td>
        </tr>
    <tbody>
</table>
<form ng-show="signedIn()" ng-submit="addPost()" style="margin-top:30px;">
    <h3>Add a new post</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
    </div>
    <div class="form-group">
        <textarea rows = '3' class="form-control" placeholder="Post" ng-model="body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<center><h3 ng-hide="signedIn()">You have to Login to create new post!</h3></center>